<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-eddieelorza/blob/main/Modulo_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **MODULO 2** | Data Analysis with Python (IBM)

**EDDIE G. ELORZA RUIZ | A01793547**

>Materia: Ciencia y analítica de datos (Gpo 10)

>Profesor Titular: Jobish Vallikavungal

>Profesor Tutor: Victoria Guerrero Orozco

> Fecha: -

# Data Pre-processing

También llamado como:

**• Data Cleaning, Data Wrangling.**

> Es el proceso de convertir o mapear datos de la forma inicial "raw" a otro formato, con el fin de preparar los datos para su
posterior análisis.

----
# Dealing with missing values in Python
**¿Que es?**

Los valores faltantes ocurren cuando no se almacena ningún valor de datos para una variable (característica) en una observación.

• Puede ser representado con un "?", "N/A", O o solo con una celda vacía.

**EJEMPLO**:

<img src="https://1.bp.blogspot.com/-5rVwAlpJP7E/W-Zw_odxHAI/AAAAAAAAATE/rfkZ6_zuRjstCDra_LIqR36qDyXQrf5vwCLcBGAs/s1600/2.PNG" width="430" bg-color="FFFFFF" />

----

# ¿Como lidiar con missing data?

1. Drop the missing value
  * Drop the variable
  * Drop the data entry
2. Replace the missing values
  * Replace it with an average(or similar data points)
  * Replace it by frequency
  * Replace it based on other functions
3. Leave it as missing data

----
# Como eliminar datos faltantes en python


```
# Use dataframes.dropna()
```


<img src="https://www.sharpsightlabs.com/wp-content/uploads/2022/01/pandas-dropna-featured-image.png" width="430" bg-color="FFFFFF" />

**No olvides:**


```
df. dropna (subset=["price"],axis=0) # dropna elimina los valores nulos

df. dropna (subset= ["price"l, axis=0, inplace True) # dropna elimina los valores nulos de la columna price
```
----
# Como Remplazar los datos faltantes en python

```
# Use dataframes.replace(missing_value, new_value):
```

<img src="https://www.sharpsightlabs.com/wp-content/uploads/2021/09/pandas-replace_FEATURED-IMAGE.png" width="430" bg-color="FFFFFF" />

# Data Formatting en Python
* Los datos generalmente se recopilan de diferentes lugares y se almacenan en diferentes formatos.
* Llevar los datos a un estándar común de expresión permite a los usuarios
hacer una comparación significativa.

1. Sin formato 
 * Confusas
 * Difícil de agregar
 * Difícil de comparar

<img src="https://miro.medium.com/max/814/1*9kTJpYwFn_6RkuVSCf9MwA.png" width="430" bg-color="FFFFFF" />

1. Con formato 
 * Más claro
 * Fácil de agregar
 * Fácil de comparar

 ----
# Aplicando Calculos a una columna completa

 Convierta "mpg" a "L/100km" en el conjunto de datos del automóvil.



```
df["city-mpg"]=235/df("city-mpg"]

df.rename (columns=("city mpg": "city-L/100km"), inplace=True)

```


----

# Data Types

1. Para identificar Data Types:
  * Use Dataframes.dtypes()

2. Para convertir Data Types:
  * Use Dataframes.astype()

// Ejemplo convierte un Data type a Integer en la columna "Price"


```
df["price"]df["price"]. astype ("int")
```

# Data Normalization


• Uniformar el valor de las características con diferentes rangos.

<img src="https://miro.medium.com/max/1400/1*zahdB8Jm3qnguXbJqzYyhw.png" width="430" bg-color="FFFFFF" />




```
#Simple Feature Scaling with pandas

df["length"] = df["length"]/df ["length" ] .max ()

#Min-Max Scaling with pandas

df["length"] = (df["length"] - df["length"].min()) / (df["length"].max() - df["length"].min())

#Z-score Scaling with pandas

df["length"] = (df["length"] - df["length"].mean())/df["length"].std()


```

# Binning

Binning es el proceso de convertir datos continuos en datos discretos.

<img src="https://i.ytimg.com/vi/wJgto87zEEs/maxresdefault.jpg" width="430" bg-color="FFFFFF" />

# **LABORATORY**

<h2>What is the purpose of data wrangling?</h2>
Data wrangling is the process of converting data from the initial format to a format that may be better for analysis.

<h3>What is the fuel consumption (L/100k) rate for the diesel car?</h3>

<h3>Import data</h3>
<p>
You can find the "Automobile Dataset" from the following link: <a href="https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDA0101ENSkillsNetwork20235326-2021-01-01">https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data</a>. 
We will be using this dataset throughout this course.
</p>

In [ ]:
#Import pandas
#you are running the lab in your browser, so we will install the libraries using piplite

import piplite
await piplite.install(['pandas'])
await piplite.install(['matplotlib'])

import pandas as pd
import matplotlib.pylab as plt

In [ ]:
#This function will download the dataset into your browser 
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

<h2>Reading the dataset from the URL and adding the related headers</h2>

In [ ]:
#Luego, creamos una lista de Python <b>headers</b> que contiene el nombre de los encabezados.
filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"

In [ ]:
#Utilice el método Pandas <b>read_csv()</b> para cargar los datos desde la dirección web. Establezca el parámetro "nombres" igual a los "encabezados" de la lista de Python.
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

In [ ]:
#Use el método head() para mostrar las primeras cinco filas del marco de datos.
await download(filename, "auto.csv")
filename="auto.csv"

<h2 id="identify_handle_missing_values">Identify and handle missing values</h2>

<h3 id="identify_missing_values">Identify missing values</h3>
<h4>Convert "?" to NaN</h4>
In the car dataset, missing data comes with the question mark "?".
We replace "?" with NaN (Not a Number), Python's default missing value marker for reasons of computational speed and convenience. Here we use the function: 
 <pre>.replace(A, B, inplace = True) </pre>
to replace A by B.

In [ ]:
import numpy as np

# replace "?" to NaN
df.replace("?", np.nan, inplace = True)
df.head(5)

<h4>Evaluating for Missing Data</h4>

The missing values are converted by default. We use the following functions to identify these missing values. There are two methods to detect missing data:

<ol>
    <li><b>.isnull()</b></li>
    <li><b>.notnull()</b></li>
</ol>
The output is a boolean value indicating whether the value that is passed into the argument is in fact missing data.

In [ ]:
missing_data = df.isnull()
missing_data.head(5)

<h4>Count missing values in each column</h4>
<p>
Using a for loop in Python, we can quickly figure out the number of missing values in each column. As mentioned above, "True" represents a missing value and "False" means the value is present in the dataset.  In the body of the for loop the method ".value_counts()" counts the number of "True" values. 
</p>

In [ ]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

<h3 id="deal_missing_values">Deal with missing data</h3>
<b>How to deal with missing data?</b>

<ol>
    <li>Drop data<br>
        a. Drop the whole row<br>
        b. Drop the whole column
    </li>
    <li>Replace data<br>
        a. Replace it by mean<br>
        b. Replace it by frequency<br>
        c. Replace it based on other functions
    </li>
</ol>

Whole columns should be dropped only if most entries in the column are empty. In our dataset, none of the columns are empty enough to drop entirely.
We have some freedom in choosing which method to replace data; however, some methods may seem more reasonable than others. We will apply each method to many different columns:

<b>Replace by mean:</b>

<ul>
    <li>"normalized-losses": 41 missing data, replace them with mean</li>
    <li>"stroke": 4 missing data, replace them with mean</li>
    <li>"bore": 4 missing data, replace them with mean</li>
    <li>"horsepower": 2 missing data, replace them with mean</li>
    <li>"peak-rpm": 2 missing data, replace them with mean</li>
</ul>

<b>Replace by frequency:</b>

<ul>
    <li>"num-of-doors": 2 missing data, replace them with "four". 
        <ul>
            <li>Reason: 84% sedans is four doors. Since four doors is most frequent, it is most likely to occur</li>
        </ul>
    </li>
</ul>

<b>Drop the whole row:</b>

<ul>
    <li>"price": 4 missing data, simply delete the whole row
        <ul>
            <li>Reason: price is what we want to predict. Any data entry without price data cannot be used for prediction; therefore any row now without price data is not useful to us</li>
        </ul>
    </li>
</ul>

<h4>Calculate the mean value for the "normalized-losses" column </h4>

In [ ]:
avg_norm_loss = df["normalized-losses"].astype("float").mean(axis=0)
print("Average of normalized-losses:", avg_norm_loss)

<h4>Replace "NaN" with mean value in "normalized-losses" column</h4>

In [ ]:
df["normalized-losses"].replace(np.nan, avg_norm_loss, inplace=True)

<h4>Calculate the mean value for the "bore" column</h4>

In [ ]:
avg_bore=df['bore'].astype('float').mean(axis=0)
print("Average of bore:", avg_bore)

<h4>Replace "NaN" with the mean value in the "bore" column</h4>

In [ ]:
df["bore"].replace(np.nan, avg_bore, inplace=True)

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question  #1: </h1>

<b>Based on the example above, replace NaN in "stroke" column with the mean value.</b>

</div>

In [ ]:
avg_stroke = df["stroke"].astype("float").mean(axis = 0)
print("Average of stroke:", avg_stroke)

df["stroke"].replace(np.nan, avg_stroke, inplace = True)

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question  #2: </h1>

<b>According to the example above, transform mpg to L/100km in the column of "highway-mpg" and change the name of column to "highway-L/100km".</b>

</div>

In [ ]:
df["highway-mpg"] = 235/df["highway-mpg"]

df.rename(columns={'highway-mpg':'highway-L/100km'}, inplace=True)

df.head()

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question #3: </h1>

<b>According to the example above, normalize the column "height".</b>

</div>

In [ ]:
df['height'] = df['height']/df['height'].max() 

# show the scaled columns
df[["length","width","height"]].head()

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question  #4: </h1>

<b>Similar to before, create an indicator variable for the column "aspiration"</b>

</div>

In [ ]:
# get indicator variables of aspiration and assign it to data frame "dummy_variable_2"
dummy_variable_2 = pd.get_dummies(df['aspiration'])

# change column names for clarity
dummy_variable_2.rename(columns={'std':'aspiration-std', 'turbo': 'aspiration-turbo'}, inplace=True)

# show first 5 instances of data frame "dummy_variable_1"
dummy_variable_2.head()

 <div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question  #5: </h1>

<b>Merge the new dataframe to the original dataframe, then drop the column 'aspiration'.</b>

</div>

In [ ]:
Click here for the solution
# merge the new dataframe to the original datafram
df = pd.concat([df, dummy_variable_2], axis=1)

# drop original column "aspiration" from "df"
df.drop('aspiration', axis = 1, inplace=True)