<a href="https://colab.research.google.com/github/eddieelorza/Advice-generator-app/blob/master/Modulo_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**MODULO 3**

# **Conditions**

**Comparison Operators**
1. equal: ==
1.   not equal: !=
2.   not equal: !=
3.   not equal: !=
4.   less than: <
5.   greater than or equal to: >=
6.   less than or equal to: <=

**Comparison Operations**

In [4]:
#Find the value of i that produces a True:
i=-100000000
i!=0

True

**Branching**

 nos permite ejecutar diferentes declaraciones para diferentes entradas. Es útil pensar en una declaración if como una habitación cerrada, si la declaración es verdadera, podemos ingresar a la habitación y su programa ejecutará algunas tareas predefinidas, pero si la declaración es falsa, el programa ignorará la tarea.

In [1]:
#Find the value of x that prints the statement "this is a":
x = "a"
if(x=='a'):
    print("this is a")
else:
    print("this is  not a")

this is a

In [11]:
# Else statement example

age = 18
# age = 19

if age > 18:
    print("you can enter" )
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Meat Loaf
move on

In [12]:
# Elif statment example

age = 18

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Pink Floyd
move on

In [13]:
# Condition statement example

album_year = 1983
#album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print('do something..')

Album year is greater than 1980
do something..

**Logic Operators**

In [2]:
#Find the value of y that produces a True statement:
y=3
x=1
x>0 and y<10

True

In [5]:
# Condition Equal

a = 5
a == 6

False

In [6]:
# Greater than Sign

i = 6
i > 5

True

In [7]:
# Inequality Sign

i = 2
i != 6

True

In [8]:
# Use Equality sign to compare the strings

"ACDC" == "Michael Jackson"

False

In [9]:
# Use Inequality sign to compare the strings

"ACDC" != "Michael Jackson"

True

In [10]:
# Compare characters

'B' > 'A'

True

**Logical operators**
1. and
2. or
3. not

In [14]:
# Condition statement example

album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
    
print("")
print("Do Stuff..")

Album year was in between 1980 and 1989

Do Stuff..

In [16]:
# Condition statement example

album_year = 1987

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

The Album was made in the 1980's

In [17]:
#The not statement checks if the statement is false:
# Condition statement example

album_year = 1983

if not (album_year == 1984):
    print ("Album year is not 1984")

Album year is not 1984

**Quiz on Conditions**

In [18]:
#Write an if statement to determine if an album had a rating greater than 8. 
#Test it using the rating for the album “Back in Black” that had a rating of 8.5. 
#If the statement is true print "This album is Amazing!"

album_raiting = 8.5

if album_year > 8:
  print("This album is Amazing!")

This album is Amazing!

In [23]:
#Write an if-else statement that performs the following. 
#If the rating is larger then eight print “this album is amazing”. 
#If the rating is less than or equal to 8 print “this album is ok”.


raiting = 5

if raiting > 8:
   print("This album is Amazing!")
else:
  print( "this album is ok")

this album is ok

In [39]:
#Write an if statement to determine if an album came 
#out before 1980 or in the years: 1991 or 1993. 
#If the condition is true print out the year the album came out.

album_year = 1979

if album_year < 1980 or album_year == 1991 or album_year == 1993 :
  print(album_year)

1979

# **LOOPS**

In [47]:
# For loop example

dates = [1982,1980,1973]
N = len(dates)
for i in range(N):
    print(dates[i])

1982
1980
1973

In [48]:
# Example of for loop

for i in range(0, 8):
    print(i)

0
1
2
3
4
5
6
7

In [49]:
# Use for loop to change the elements in list

squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'white'
    print("After square ", i, 'is',  squares[i])

Before square  0 is red
After square  0 is white
Before square  1 is yellow
After square  1 is white
Before square  2 is green
After square  2 is white
Before square  3 is purple
After square  3 is white
Before square  4 is blue
After square  4 is white

In [50]:
# Loop through the list and iterate on both index and element value

squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

In [51]:
# While Loop Example

dates = [1982, 1980, 1973, 2000]

i = 0
year = dates[0]

while(year != 1973):    
    print(year)
    i = i + 1
    year = dates[i]
    

print("It took ", i ,"repetitions to get out of loop.")

1982
1980
It took  2 repetitions to get out of loop.

**Quiz on Loops**

In [55]:
#Write a for loop the prints out all the element between -5 and 5 using the range function.

for ind in range(-4,5):
    print(ind)

-4
-3
-2
-1
0
1
2
3
4

In [56]:
#Print the elements of the following list: Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop'] Make sure you follow Python conventions.
Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']

for i in Genres:
  print(i)

rock
R&B
Soundtrack
R&B
soul
pop

In [57]:
#Write a for loop that prints out the following list: squares=['red', 'yellow', 'green', 'purple', 'blue']
squares=['red', 'yellow', 'green', 'purple', 'blue']
for sq in squares:
  print(sq)

red
yellow
green
purple
blue

In [61]:
#Write a while loop to display the values of the Rating of an album playlist stored in the list PlayListRatings.
#If the score is less than 6, exit the loop. The list PlayListRatings is given by: PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
Rating = PlayListRatings[0]
while(i < len(PlayListRatings) and Rating >= 6):
    print(Rating)
    i = i + 1 
    Rating = PlayListRatings[i]
    i = i + 1

True
10
9.5
8

In [63]:

squares = ['orange', 'orange', 'orange','purple', 'blue ']
new_squares = []
i = 0
while(i < len(squares) and squares[i] == 'orange'):
    new_squares.append(squares[i])
    i = i + 1
print (new_squares)

['orange', 'orange', 'orange']

# **FUNCTION**

You can define functions to provide the required functionality. Here are simple rules to define a function in Python:

*   Functions blocks begin <code>def</code> followed by the function <code>name</code> and parentheses <code>()</code>.
*   There are input parameters or arguments that should be placed within these parentheses.
*   You can also define parameters inside these parentheses.
*   There is a body within every function that starts with a colon (<code>:</code>) and is indented.
*   You can also place documentation before the body.
*   The statement <code>return</code> exits a function, optionally passing back a value.

An example of a function that adds on to the parameter <code>a</code> prints and returns the output as <code>b</code>:

In [64]:
# First function example: Add 1 to a and store as b

def add(a):
    """
    add 1 to a
    """
    b = a + 1
    print(a, "if you add one", b)
    return(b)

In [65]:
# Get a help on add function

help(add)

Help on function add in module __main__:

add(a)
    add 1 to a

In [66]:
# Call the function add()

add(1)

1 if you add one 2

2

In [67]:
# Define a function for multiple two numbers

def Mult(a, b):
    c = a * b
    return(c)
    print('This is not printed')
    
result = Mult(12,2)
print(result)

# Use mult() multiply two integers

Mult(2, 3)

24

6

In [68]:
# Use mult() multiply two floats

Mult(10.0, 3.14)

31.400000000000002

In [69]:
# Use mult() multiply two different type values together

Mult(2, "Michael Jackson ")

'Michael Jackson Michael Jackson '

VARIABLES

In [70]:
# Function Definition

def square(a):
    
    # Local variable b
    b = 1
    c = a * a + b
    print(a, "if you square + 1", c) 
    return(c)

In [71]:
# Initializes Global variable  

x = 3
# Makes function call and return function a y
y = square(x)
y

3 if you square + 1 10

10

In [72]:
# Directly enter a number as parameter

square(2)

2 if you square + 1 5

5

In [74]:
# Define functions, one with return value None and other without return value

def MJ():
    print('Michael Jackson')
    
def MJ1():
    print('Michael Jackson')
    return(None)

# See the output

MJ()


# See the output

MJ1()

Michael Jackson
Michael Jackson

QUIZ FUNCTIONS

Come up with a function that divides the first input by the second input:

In [75]:
def div(a,b):
  return a/b

div(6,2)

3.0

Use the function con for the following question.

In [76]:
# Use the con function for the following question

def con(a, b):
    return(a + b)

In [77]:
#Can the con function we defined before be used to add two integers or strings?
con(3,3)

6

In [78]:
#Can the con function we defined before be used to concatenate lists or tuples?
con(['a', 1], ['b', 1])

['a', 1, 'b', 1]